@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.signup-page {
    font-family: 'Inter', sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background: #D1F5FF; /* Set background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the container full height of the viewport */
}

.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    background: #D1F5FF;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
}
.text{
    color: #230b5c;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width: 475px;
    height: 6px;
    background: #230b5c;
    border-radius: 10px;
}
.inputs{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #EEF8FF;
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;

}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #0d0421;
    font-size: 20px;
}
.forgot-password {
    text-align: center; /* Center the text */
    margin-top: 27px;
    color: black;
    font-size: 18px;
}
.forgot-password span{
    color: #230b5c;
    cursor: pointer;

}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 30px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color: white;
    background: #230b5c;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: grey;
    color: #230b5c;
}
