.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Align items to the top */
    height: 100vh;
    padding-top: 20px;
    /* Add padding to create space between the table and the top */
}

/* Additional styles for the caption */
.caption {
    text-align: center;
    /* Center align the caption */
}

body {
    background: linear-gradient(90deg, #B19CD9, lightblue);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-left: auto;

}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

th {
    background-color: #f2f2f2;
    text-align: center;
    text-decoration: underline;
}

tr:nth-child(even) {
    background-color: lightblue;
}

caption {
    padding: 10px;
    font-weight: bold;
    /* color: orangered; */
    color: black;
}

tr:hover {
    background-color:
        /*white*/
        #e0e0e0;
}