body {
    background: linear-gradient(45deg, #B19CD9, lightblue);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    /* This centers the table and adds space around it */
    padding: 8px;
}


th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

th {
    background-color: #f2f2f2;
    text-align: center;
    text-decoration: underline;
}

tr:nth-child(even) {
    background-color: lightblue;
}

caption {
    padding: 10px;
    font-weight: bold;
    color: orangered;
}

tr:hover {
    background-color:
        /*white*/
        #e0e0e0;
}