<!Doctype html>
<html lneg="en">  
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="quoteForm.css">
<div id="header">
<div class="grid-itemH">Log in</div>
<div class="grid-itemH">Register</div>
<div class="grid-itemH">Profile</div>
<div class="grid-itemH">Fuel Quote</div>
<div class="grid-itemH">Fuel Quote History</div>


</div>
</head>

<body style="background-color: #EEF8FF";>
    <h1 id="title">Fuel Quote Form</h1>
<!--Must have  --
    Gallons requested (numeric, required)
    Delivery Address (Non-editable, comes from client profile)
    Delivery Date (Calendar, Date Picker)
    Suggested Price/gallon (numberic non-editable, price will be calculated 
        by pricing module -- We are not building this yet (2/17/2024))
    -Total Amount Due (numeric non-editable, calculated [gallons * price])
-->
    <form>
        <div class="grid-containerE">

            <div class="grid-itemB">
            <label for="gallonsRequested">Gallons Requested:</label>
            <input type="text" id="gallonsRequested" name="gallonsRequested" placeholder="How many gallons?" required>
            <p>How many gallons are you requesting?</p>
            </div>

            <div class="grid-itemB">
            <label for="deliveryDate">Delivery Date:</label>
            <input type="date" id="deliveryDate" name="deliveryDate">
            <p>What delivery date would you expect?</p>
            </div>
    
        </div>

        <div class="grid-containerD">

            <div class="grid-itemB">
            <label for="deliveryAddress">Delivery Address</label>
            <input type="text" name="deliveryAddress" id="deliveryAddress" placeholder="Your delivery address" readonly>
            <p>This is the delivery Address where your product will be delivered. (Address is default based on customer profile)</p>
            </div>

            <div class="grid-itemB">
            <label for="suggestedPrice">Suggested Price</label>
            <input type="text" name="suggestedPrice" id="suggestedPrice" placeholder="Your suggested price" readonly> 
            <p>This is the suggested price per gallon of your product, automatically calculated</p>
            </div>

            <div class="grid-itemB">
            <!-- <h2 style="text-align: left;">Total Amount Due</h2> -->
            <label for="totalAmountDue">Total Amount Due</label>
            <input type="text" name="totalAmountDue" id="totalAmountDue" placeholder="Your total amount due" readonly>
            <p>Total calculated amount due based on price and amount of gallons</p>
            </div>

        </div>


    </form>


</body>


</html>